<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Author -->
    <meta name="author" content="Themesindustry">
    <!-- description -->
    <meta name="description" content="MegaOne is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 8 ready home page demos.">
    <!-- keywords -->
    <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, faq">
    <!-- Page Title -->
    <title>Agency Studio | MegaOne HTML5 Template</title>
    <!-- Favicon -->
    <link rel="icon" href="~/Assets/agency-studio/img/favicon1.ico">
    <!-- Bundle -->
    <link rel="stylesheet" href="~/Assets/vendor/css/bundle.min.css">
    <!-- Plugin Css -->
    <link rel="stylesheet" href="~/Assets/vendor/css/revolution-settings.min.css">
    <link rel="stylesheet" href="~/Assets/vendor/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/vendor/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/Assets/vendor/css/LineIcons.min.css">
    <link rel="stylesheet" href="~/Assets/vendor/css/cubeportfolio.min.css">
    <!-- Style Sheet -->
    <link rel="stylesheet" href="~/Assets/agency-studio/css/swiper.css">
    <link rel="stylesheet" href="~/Assets/agency-studio/css/settings.css">
    <link rel="stylesheet" href="~/Assets/agency-studio/css/style.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="90">


    <!-- Loader -->

    <div class="loader">

        <div class="loader-inner">

            <div class="spinner">

                <div class="dot1"></div>

                <div class="dot2"></div>

            </div>

        </div>

    </div>

    <!-- Parent Section -->

    <section class="page_content_parent_section">

        <h2 class="d-none"></h2>
        <!-- Header Section -->
        <!-- header -->
        <header class="site-header">
            <nav class="navbar navbar-expand-lg nav-bottom-line center-brand static-nav">
                <div class="container">
                    <a class="navbar-brand" href="#banner-main">
                        <img src="~/Assets/agency-studio/img/logo-dark.png" alt="logo" class="logo-default">
                        <img src="~/Assets/agency-studio/img/logo-dark.png" alt="logo" class="logo-scrolled">
                    </a>
                    <button class="navbar-toggler navbar-toggler-right d-none collapsed" type="button" data-toggle="collapse" data-target="#xenav">
                        <span> </span>
                        <span> </span>
                        <span> </span>
                    </button>
                    <div class="collapse navbar-collapse" id="xenav">
                        <ul class="navbar-nav" id="container">
                            <li class="nav-item">
                                <a class="nav-link pagescroll" href="#home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll" href="#skill_section">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll" href="#work">Our Work</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll" href="#team">Team</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link pagescroll" href="#pricing_table">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll" href="#reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll" href="#blog">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll" href="#contactus">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--side menu open button-->
                <a href="javascript:void(0)" class="d-inline-block sidemenu_btn" id="sidemenu_toggle">
                    <span></span> <span></span> <span></span>
                </a>
            </nav>
            <!-- side menu -->
            <div class="side-menu">
                <div class="inner-wrapper">
                    <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
                    <nav class="side-nav w-100">
                        <div class="form-group">
                            <ul class="user-dropdown">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div>
                                        <a asp-action="Logout" asp-controller="Auth" style="font-size:1.5rem;color:aliceblue;">Logout</a>
                                    </div
                                    <br/>
                                    <div style="font-size:1.5rem;color:aliceblue;">Hi, @User.Identity.Name &#128512;</div>
                                    
                                }
                                else
                                {
                                     <div>
                                        <a asp-action="Login" asp-controller="Auth" style="font-size:1.5rem;color:aliceblue;">Login</a>
                                      </div>
                                      <br/>
                                        <div>
                                        <a asp-action="Register" asp-controller="Auth" style="font-size:1.5rem;color:aliceblue;">Register</a>
                                     </div>
                                }
                            </ul>
                        </div>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link pagescroll" href="#home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll" href="#skill_section">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="Slider">Admin Panel</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll" href="#team">Team</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll" href="#pricing_table">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll" href="#reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll" href="#blog">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll" href="#contactus">Contact US</a>
                            </li>
                        </ul>
                    </nav>

                    <div class="side-footer w-100">
                        <p class="whitecolor">&copy; 2020 Studio. Made With Love by themesindustry</p>
                    </div>
                </div>
            </div>
            <a id="close_side_menu" href="javascript:void(0);"></a>
            <!-- End side menu -->
        </header>
        <!-- header -->
            @RenderBody()
        <!-- Footer Section -->
        <footer class="footer_section big_padding bg_navy">

            <div class="container">

                <div class="footer_detail">

                    <ul class="footer_links text-center">

                        <li>

                            <a class="anchor_style_default facebook wow zoomInDown" href="#.">

                                <i class="text-center fab fa-facebook-f "></i>

                            </a>

                        </li>

                        <li>

                            <a class="anchor_style_default twitter wow zoomInUp" href="#.">

                                <i class="text-center fab fa-twitter "></i>

                            </a>

                        </li>

                        <li>

                            <a class="anchor_style_default g_plus wow zoomInDown" href="#.">

                                <i class="text-center fab fa-google-plus "></i>

                            </a>

                        </li>

                        <li>

                            <a class="anchor_style_default linkedin wow zoomInUp" href="#.">

                                <i class="text-center fab fa-linkedin-in "></i>

                            </a>

                        </li>

                        <li>

                            <a class="anchor_style_default  pinterest wow zoomInDown" href="#.">

                                <i class="text-center fab fa-pinterest"></i>

                            </a>

                        </li>

                    </ul>

                    <p class="text-center default_text open_sans white_color">&copy; 2020 Themes Industry,  All rights reserved. </p>

                </div>

            </div>

        </footer>
        <!-- /Footer Section -->

    </section>

    <!-- JavaScript -->
    <script src="~/Assets/vendor/js/bundle.min.js"></script>

    <!-- Plugin Js -->
    <script src="~/Assets/vendor/js/owl.carousel.min.js"></script>
    <script src="~/Assets/vendor/js/wow.js"></script>
    <script src="~/Assets/vendor/js/jquery.cubeportfolio.min.js"></script>
    <script src="~/Assets/vendor/js/jquery.appear.js"></script>
    <script src="~/Assets/vendor/js/isotope.pkgd.min.js"></script>
    <script src="~/Assets/vendor/js/jquery.fancybox.min.js"></script>
    <script src="~/Assets/vendor/js/parallaxie.min.js"></script>
    <!-- REVOLUTION JS FILES -->
    <script src="~/Assets/vendor/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Assets/vendor/js/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION EXTENSIONS -->
    <script src="~/Assets/vendor/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Assets/vendor/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Assets/vendor/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Assets/vendor/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Assets/vendor/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Assets/vendor/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Assets/vendor/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Assets/vendor/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Assets/vendor/js/extensions/revolution.extension.video.min.js"></script>
    <!-- contact form js -->
    <script src="~/Assets/vendor/js/contact_us.js"></script>

    <script src="~/Assets/agency-studio/js/swiper.js"></script>
    <script src="~/Assets/agency-studio/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
