@model HomeVm
        <!-- Main Slider Section -->
        @await Component.InvokeAsync("Slider");
        <!-- /Main Slider Section -->

        <!-- Skill Heading Section -->
        <section class="combined_skills_section big_padding" id="skill_section">
    <h2 class="d-none">jd</h2>

            <section class="skill_section" >

                <div class="container">

                    <div class="skill_section_inner">

                        <p class="default_text raleway text-center default_small_heading blue_color font_200">What we do</p>

                        <h2 class="default_section_heading text-center">

                                <span class="font_200">

                                    Our

                                </span>

                            Awesome

                            <span class="font_200">

                                    Services

                                </span>

                        </h2>

                        <hr class="default_divider default_divider_blue default_divider_big">

                    </div>

                </div>

            </section>

            <!-- /Skill Section -->

            <section class="circle_pie_section">

                <div class="container">

                    <div class="row">

                        <div class="col-sm-12">

                            <div class="expertise_section_inner">

                                <div class="row">

                                    <div class="col-md-4">

                                        <div class="expertise_block text-center margin_after_tab wow slideInLeft">

                                            <h3 class="small_heading_navy text-center raleway h3_pink font_400"><span class="font_600 pink_color">01.</span> Web Design</h3>

                                            <p class="default_text text-center open_sans default_text_light">

                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut

                                            </p>

                                        </div>

                                    </div>

                                    <div class="col-md-4">

                                        <div class="expertise_block text-center margin_after_tab wow fadeInUp">

                                            <h3 class="small_heading_navy text-center raleway h3_pink font_400"><span class="font_600 pink_color">02.</span> Photography</h3>

                                            <p class="default_text text-center open_sans default_text_light">

                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dosit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut

                                            </p>

                                        </div>

                                    </div>

                                    <div class="col-md-4">

                                        <div class="expertise_block text-center wow slideInRight">

                                            <h3 class="small_heading_navy text-center raleway h3_pink font_400"><span class="font_600 pink_color">03.</span> Audio Creation</h3>

                                            <p class="default_text text-center open_sans default_text_light">

                                                Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut

                                            </p>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </section>

        </section>
        <!-- /Circel Js Skill Section -->

        <!-- Half Section -->
        <section class="half_section_main half_section_right bg_grey">

            <div class="half_section_picture d-none d-md-block hidden-sm hidden-xs"></div>

            <div class="container container_big">

                <div class="row">

                    <div class="col-md-6 col-12">

                        <div class="side_section_text big_padding">

                            <p class="default_small_heading raleway blue_color font_200">Professional Expertise</p>

                            <h3 class="default_section_heading raleway navy_blue"><span class="font_200"> Our </span> Awesome <span class="font_200"> Skills </span></h3>

                            <hr class="default_divider default_divider_blue " style="margin-left: 0;">

                            <p class="default_text_light default_text open_sans">

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate at justo tristique, tempor sagittis dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sit amet ligula consequat urna posuere convallis.

                            </p>

                            <div class="progress_bar_outer_div">

                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="progress_outer">

                                            <h3 class="small_heading_navy raleway default_small_heading navy_blue h3_pink font_400">Writing</h3>

                                            <div class="progress progress_bar bg_white">

                                                <div class="progress-bar bg_pink" style="width: 84%;" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100">

                                                    <span class="bg_navy">84%</span>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md-12">

                                        <div class="progress_outer">

                                            <h3 class="small_heading_navy default_small_heading navy_blue raleway font_400">Development</h3>

                                            <div class="progress progress_bar bg_white">

                                                <div class="progress-bar bg_pink" style="width: 98%;" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">

                                                    <span class="bg_navy">98%</span>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md-12">

                                        <div class="progress_outer">

                                            <h3 class="small_heading_navy default_small_heading navy_blue raleway font_400">Design</h3>

                                            <div class="progress progress_bar bg_white">

                                                <div class="progress-bar bg_pink" style="width: 63%;" role="progressbar" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100">

                                                    <span class="bg_navy">63%</span>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md-12">

                                        <div class="progress_outer">

                                            <h3 class="small_heading_navy default_small_heading navy_blue raleway font_400">Video Editing</h3>

                                            <div class="progress progress_bar bg_white">

                                                <div class="progress-bar bg_pink" style="width: 78%;" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100">

                                                    <span class="bg_navy">78%</span>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>
        <!-- half Section Ended -->

        <!-- Stats Section -->
        <section class="stats_section big_padding">

            <div class="container">

                <div class="row">

                    <div class="col-md-3 col-sm-6 margin_after_tab text-center">

                        <div class="stats_section_inner">

                            <i class="fa fa-check white_color stats_section_icon text-center" aria-hidden="true"></i>

                            <h3 class="default_section_heading white_color raleway number-scroll"> 2000 </h3>

                            <p class="small_heading_navy white_color open_sans font_200">Completed Projects</p>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-6 margin_after_tab text-center">

                        <div class="stats_section_inner">

                            <i class="fa fa-flag white_color stats_section_icon text-center" aria-hidden="true"></i>

                            <h3 class="default_section_heading white_color raleway number-scroll"> 125 </h3>

                            <p class="small_heading_navy white_color open_sans font_200">Total Countries</p>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-6 margin_after_tab text-center">

                        <div class="stats_section_inner">

                            <i class="fa fa-globe white_color stats_section_icon text-center" aria-hidden="true"></i>

                            <h3 class="default_section_heading white_color raleway number-scroll"> 5000</h3>

                            <p class="small_heading_navy white_color open_sans font_200">Users Worldwide</p>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-6 margin_after_tab text-center">

                        <div class="stats_section_inner">

                            <i class="fa fa-gift white_color stats_section_icon text-center" aria-hidden="true"></i>

                            <h3 class="default_section_heading white_color raleway number-scroll"> 9 </h3>

                            <p class="small_heading_navy white_color open_sans font_200">Award Winners</p>

                        </div>

                    </div>

                </div>

            </div>

        </section>
        <!-- /Stats Section -->

        <!-- Portfolio Section -->
        <section class="portfolio_section big_padding" style="padding-bottom: 0;" id="work">

            <div class="container">

                <p class="default_small_heading raleway text-center blue_color font_200">Creative Portfolio</p>

                <h2 class="default_section_heading text-center">

                    <span class="font_200"> Our </span>

                    Awesome

                    <span class="font_200">Work</span>

                </h2>

                <hr class="default_divider default_divider_blue default_divider_big">

            </div>

            <div  class="cube_fullwidth_style_portfolio">

                <div id="js-filters-mosaic-flat" class="cbp-l-filters-buttonCenter open_sans">

                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item open_sans button bg_before_pink">

                        All

                        <div class="cbp-filter-counter"></div>

                    </div>

                    <div data-filter=".branding" class="cbp-filter-item open_sans button bg_before_pink">

                        Branding

                        <div class="cbp-filter-counter"></div>

                    </div>

                    <div data-filter=".web-design" class="cbp-filter-item open_sans button bg_before_pink">

                        Web Design

                        <div class="cbp-filter-counter"></div>

                    </div>

                    <div data-filter=".photography" class="cbp-filter-item open_sans button bg_before_pink">

                        Photography

                        <div class="cbp-filter-counter"></div>

                    </div>

                </div>

                <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat">

                    <div class="cbp-item web-design photography">

                        <a href="agency-studio/img/projects-1.jpg" class="cbp-caption cbp-lightbox" data-title="Bolt UI<br>by Tiberiu Neamu">

                            <div class="cbp-caption-defaultWrap">

                                <img src="~/Assets/agency-studio/img/projects-1.jpg" alt="">

                            </div>

                            <div class="cbp-caption-activeWrap">

                                <div class="cbp-l-caption-alignCenter">

                                    <div class="cbp-l-caption-body">

                                        <div class="cbp-l-caption-title">Bolt UI</div>

                                    </div>

                                </div>

                            </div>

                        </a>

                    </div>

                    <div class="cbp-item branding photography">

                        <a href="~/Assets/agency-studio/img/projects-2.jpg" class="cbp-caption cbp-lightbox" data-title="World Clock<br>by Paul Flavius Nechita">

                            <div class="cbp-caption-defaultWrap">

                                <img src="~/Assets/agency-studio/img/projects-2.jpg" alt="">

                            </div>

                            <div class="cbp-caption-activeWrap">

                                <div class="cbp-l-caption-alignCenter">

                                    <div class="cbp-l-caption-body">

                                        <div class="cbp-l-caption-title">World Clock</div>

                                    </div>

                                </div>

                            </div>

                        </a>

                    </div>

                    <div class="cbp-item branding photography">

                        <a href="~/Assets/agency-studio/img/projects-3.jpg" class="cbp-caption cbp-lightbox" data-title="WhereTO App<br>by Tiberiu Neamu">

                            <div class="cbp-caption-defaultWrap">

                                <img src="~/Assets/agency-studio/img/projects-3.jpg" alt="">

                            </div>

                            <div class="cbp-caption-activeWrap">

                                <div class="cbp-l-caption-alignCenter">

                                    <div class="cbp-l-caption-body">

                                        <div class="cbp-l-caption-title">WhereTO App</div>

                                    </div>

                                </div>

                            </div>

                        </a>

                    </div>

                    <div class="cbp-item branding graphic">

                        <a href="~/Assets/agency-studio/img/projects-4.jpg" class="cbp-caption cbp-lightbox" data-title="Digital Menu<br>by Cosmin Capitanu">

                            <div class="cbp-caption-defaultWrap">

                                <img src="~/Assets/agency-studio/img/projects-4.jpg" alt="">

                            </div>

                            <div class="cbp-caption-activeWrap">

                                <div class="cbp-l-caption-alignCenter">

                                    <div class="cbp-l-caption-body">

                                        <div class="cbp-l-caption-title">Digital Menu</div>

                                    </div>

                                </div>

                            </div>

                        </a>

                    </div>

                    <div class="cbp-item web-design branding">

                        <a href="~/Assets/agency-studio/img/projects-6.jpg" class="cbp-caption cbp-lightbox" data-title="iDevices<br>by Tiberiu Neamu">

                            <div class="cbp-caption-defaultWrap">

                                <img src="~/Assets/agency-studio/img/projects-6.jpg" alt="">

                            </div>

                            <div class="cbp-caption-activeWrap">

                                <div class="cbp-l-caption-alignCenter">

                                    <div class="cbp-l-caption-body">

                                        <div class="cbp-l-caption-title">iDevices</div>

                                    </div>

                                </div>

                            </div>

                        </a>

                    </div>


                    <div class="cbp-item photography">

                        <a href="~/Assets/agency-studio/img/projects-5.jpg" class="cbp-caption cbp-lightbox" data-title="Seemple* Music<br>by Tiberiu Neamu">

                            <div class="cbp-caption-defaultWrap">

                                <img src="~/Assets/agency-studio/img/projects-5.jpg" alt="">

                            </div>

                            <div class="cbp-caption-activeWrap">

                                <div class="cbp-l-caption-alignCenter">

                                    <div class="cbp-l-caption-body">

                                        <div class="cbp-l-caption-title">Seemple* Music</div>

                                    </div>

                                </div>

                            </div>

                        </a>

                    </div>

                </div>

            </div>

        </section>
        <!-- /Portfolio Section -->

        <!-- Team Section -->
        <section class="team_section big_padding text-center " id="team">

            <div class="container">

                <p class="raleway default_small_heading blue_color font_200">Let's Meet</p>

                <div class="col-md-12">

                    <h2 class="default_section_heading text-center">

                                <span class="font_200">

                                    Our

                                </span>

                        Creative

                        <span class="font_200">

                                    Team

                                </span>

                    </h2>

                    <hr class="default_divider default_divider_blue default_divider_big">

                    <div class="swiper-container team_slider">

                        <div class="swiper-wrapper">

                            <div class="swiper-slide">

                                <div class="team_detail wow slideInLeft">

                                    <div class="team_detail_inner">

                                        <img src="~/Assets/agency-studio/img/team-1.jpg" alt="team_img">

                                    </div>

                                    <h3 class="small_heading_navy default_small_heading navy_blue text-center raleway font_400">Chris Martin</h3>

                                    <p class="default_text text-center open_sans">CEO - Company</p>

                                    <ul class="team_members_list">

                                        <li>

                                            <a href="#." class="team_members_icons anchor_none_style google_team">

                                                <i class="fab fa-linkedin-in team_members_icon_inner" aria-hidden="true"></i>

                                            </a>

                                        </li>

                                        <li>

                                            <a href="#." class="team_members_icons anchor_none_style facebook_team">

                                                <i class="fab fa-facebook-f team_members_icon_inner" aria-hidden="true"></i>

                                            </a>

                                        </li>

                                        <li>

                                            <a href="#." class="team_members_icons anchor_none_style twiiter_team">

                                                <i class="fab fa-twitter team_members_icon_inner" aria-hidden="true"></i>

                                            </a>

                                        </li>

                                    </ul>

                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="team_detail wow fadeInUpBig">

                                    <div class="team_detail_inner">

                                        <img src="~/Assets/agency-studio/img/team-2.jpg" alt="team_img">

                                    </div>

                                    <h3 class="small_heading_navy default_small_heading navy_blue text-center raleway font_400">Ellyse Perry</h3>

                                    <p class="default_text text-center open_sans">Java Developer</p>

                                    <ul class="team_members_list">

                                        <li>

                                            <a href="#." class="team_members_icons anchor_none_style google_team">

                                                <i class="fab fa-linkedin-in team_members_icon_inner" aria-hidden="true"></i>

                                            </a>

                                        </li>

                                        <li>

                                            <a href="#." class="team_members_icons anchor_none_style facebook_team">

                                                <i class="fab fa-facebook-f team_members_icon_inner" aria-hidden="true"></i>

                                            </a>

                                        </li>

                                        <li>

                                            <a href="#." class="team_members_icons anchor_none_style twiiter_team">

                                                <i class="fab fa-twitter team_members_icon_inner" aria-hidden="true"></i>

                                            </a>

                                        </li>

                                    </ul>

                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="team_detail wow fadeInDownBig">

                                    <div class="team_detail_inner">

                                        <img src="~/Assets/agency-studio/img/team-3.jpg" alt="team_img">

                                    </div>

                                    <h3 class="small_heading_navy default_small_heading navy_blue text-center raleway font_400">Danny M</h3>

                                    <p class="default_text text-center open_sans">Web Designer</p>

                                    <ul class="team_members_list">

                                        <li>

                                            <a href="#." class="team_members_icons anchor_none_style google_team">

                                                <i class="fab fa-linkedin-in team_members_icon_inner" aria-hidden="true"></i>

                                            </a>

                                        </li>

                                        <li>

                                            <a href="#." class="team_members_icons anchor_none_style facebook_team">

                                                <i class="fab fa-facebook-f team_members_icon_inner" aria-hidden="true"></i>

                                            </a>

                                        </li>

                                        <li>

                                            <a href="#." class="team_members_icons anchor_none_style twiiter_team">

                                                <i class="fab fa-twitter team_members_icon_inner" aria-hidden="true"></i>

                                            </a>

                                        </li>

                                    </ul>

                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="team_detail wow slideInRight">

                                    <div class="team_detail_inner">

                                        <img src="~/Assets/agency-studio/img/team-4.jpg" alt="team_img">

                                    </div>

                                    <h3 class="small_heading_navy default_small_heading navy_blue text-center raleway font_400">Sarah Taylor</h3>

                                    <p class="default_text text-center open_sans">Graphic Designer</p>

                                    <ul class="team_members_list">

                                        <li>

                                            <a href="#." class="team_members_icons anchor_none_style google_team">

                                                <i class="fab fa-linkedin-in team_members_icon_inner" aria-hidden="true"></i>

                                            </a>

                                        </li>

                                        <li>

                                            <a href="#." class="team_members_icons anchor_none_style facebook_team">

                                                <i class="fab fa-facebook-f team_members_icon_inner" aria-hidden="true"></i>

                                            </a>

                                        </li>

                                        <li>

                                            <a href="#." class="team_members_icons anchor_none_style twiiter_team">

                                                <i class="fab fa-twitter team_members_icon_inner" aria-hidden="true"></i>

                                            </a>

                                        </li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>
        <!-- Team Section -->

        <!-- Half Section -->
        <section class="half_section_main bg_grey">

            <div class="half_section_picture d-none d-lg-block hidden-sm hidden-xs"></div>

            <div class="container container_big">

                <div class="row">

                    <div class="col-lg-6 offset-lg-6 col-12 offset-0">

                        <div class="side_section_text big_padding">

                            <p class="default_small_heading raleway blue_color font_200">Try it now</p>

                            <h3 class="default_section_heading raleway navy_blue">Startups <span class="font_200"> will love it </span></h3>

                            <hr class="default_divider default_divider_blue " style="margin-left: 0;">

                            <p class="default_text_light default_text open_sans">

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate at justo tristique, tempor sagittis dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sit amet ligula consequat urna posuere convallis.

                            </p>

                            <div class="row">

                                <div class="col-md-6 col-12">

                                    <div class="icons_div_small">

                                        <p class="small_heading_navy raleway font_400"> <i class="far fa-comment pink_color" aria-hidden="true"></i>24/7 Support</p>

                                        <p class="default_text default_text_light open_sans">

                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem doloremque ea eum eveniet quas.

                                        </p>

                                    </div>

                                </div>

                                <div class="col-md-6 col-12">

                                    <div class="icons_div_small">

                                        <p class="small_heading_navy raleway font_400"> <i class="far fa-file-code pink_color" aria-hidden="true"></i> HTML5 Code</p>

                                        <p class="default_text default_text_light open_sans">

                                            Lorem Ipsum is simply text the printing and typesetting standard industry and dor sit imit elit.

                                        </p>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>
        <!-- half Section Ended -->

        <!-- Pricing Table -->
        <section class="pricing_section big_padding bg_grey" id="pricing_table">

            <div class="container">

                <div class="pricing_table_section">

                    <p class="default_text raleway text-center default_small_heading blue_color font_200">New Plans</p>

                    <h2 class="default_section_heading text-center">

                                <span class="font_200">

                                    Our

                                </span>

                        Pricing

                        <span class="font_200">

                                    Table

                                </span>

                    </h2>

                    <hr class="default_divider default_divider_blue default_divider_big">

                    <div class="row">

                        <div class="col-sm-4">

                            <div class="pricing_table_column wow slideInLeft">

                                <h3 class="small_heading_navy raleway">Basic</h3>

                                <div class="price">

                                    <div class="row">

                                        <div class="col-lg-4">

                                            <h2 class="open_sans font_400 pink_color"><span class="dollar raleway">$</span>19<br><span class="month raleway">Month</span></h2>

                                        </div>

                                        <div class="col-lg-8">

                                            <p>It has survived not only five centuries, but also the leap into electronic.</p>

                                        </div>

                                    </div>

                                </div>

                                <ul class="packages">

                                    <li><i class="fa fa-check" aria-hidden="true"></i>Full access</li>

                                    <li><i class="fa fa-check" aria-hidden="true"></i>Unlimited Bandwidth</li>

                                    <li><i class="fa fa-check" aria-hidden="true"></i>Powerful Admin Panel</li>

                                    <li><i class="fa fa-check" aria-hidden="true"></i>Email Accounts</li>

                                    <li><i class="fa fa-check" aria-hidden="true"></i>8 Free Forks Every Months</li>

                                </ul>

                                <div class="pricing_button">

                                    <a href="#." class="btn btn-blue-black btn-rounded btn-large open_sans bg_before_navy">Buy Now</a>

                                </div>

                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="pricing_table_column blue_price wow fadeInUpBig">

                                <h3 class="small_heading_navy raleway white_color">Advance</h3>

                                <div class="price">

                                    <div class="row">

                                        <div class="col-lg-4">

                                            <h2 class="open_sans font_400 white_color"><span class="dollar raleway">$</span>49<br><span class="month raleway">Month</span></h2>

                                        </div>

                                        <div class="col-lg-8">

                                            <p>It has survived not only five centuries, but also the leap into electronic.</p>

                                        </div>

                                    </div>

                                </div>

                                <ul class="packages">

                                    <li><i class="fa fa-check" aria-hidden="true"></i>Full access</li>

                                    <li><i class="fa fa-check" aria-hidden="true"></i>Unlimited Bandwidth</li>

                                    <li><i class="fa fa-check" aria-hidden="true"></i>Powerful Admin Panel</li>

                                    <li><i class="fa fa-check" aria-hidden="true"></i>Email Accounts</li>

                                    <li><i class="fa fa-check" aria-hidden="true"></i>8 Free Forks Every Months</li>

                                </ul>

                                <div class="pricing_button">

                                    <a href="#." class="btn btn-white-blue btn-rounded btn-large open_sans bg_before_pink navy_blue">Buy Now</a>

                                </div>

                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="pricing_table_column wow slideInRight">

                                <h3 class="small_heading_navy raleway">Premium</h3>

                                <div class="price">

                                    <div class="row">

                                        <div class="col-lg-4">

                                            <h2 class="open_sans font_400 pink_color"><span class="dollar raleway">$</span>99<br><span class="month raleway">Month</span></h2>

                                        </div>

                                        <div class="col-lg-8">

                                            <p>It has survived not only five centuries, but also the leap into electronic.</p>

                                        </div>

                                    </div>

                                </div>

                                <ul class="packages">

                                    <li><i class="fa fa-check" aria-hidden="true"></i>Full access</li>

                                    <li><i class="fa fa-check" aria-hidden="true"></i>Unlimited Bandwidth</li>

                                    <li><i class="fa fa-check" aria-hidden="true"></i>Powerful Admin Panel</li>

                                    <li><i class="fa fa-check" aria-hidden="true"></i>Email Accounts</li>

                                    <li><i class="fa fa-check" aria-hidden="true"></i>8 Free Forks Every Months</li>

                                </ul>

                                <div class="pricing_button">

                                    <a href="#." class="btn btn-blue-black btn-rounded btn-large open_sans bg_before_navy">Buy Now</a>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>
        <!-- /Pricing Table -->

        <!-- Customer Review Slider -->
        <section class="customer_feedback_section big_padding text-center" id="reviews">

            <div class="container">

                <div class="feedaback_inner">



                    <h2 class="default_section_heading text-center white_color">

                                <span class="font_200">

                                    Client

                                </span>

                        Testimonials



                    </h2>

                    <hr class="default_divider default_divider_white default_divider_big">

                    <div class="swiper-container customer_feedback_slider white_pagination">

                        <div class="swiper-wrapper">

                            <div class="swiper-slide">

                                <p class="customer_feedback_text white_color open_sans default_text font_200">


                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate at justo tristique, tempor sagittis dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sit amet ligula consequat urna posuere
                                    convallis.

                                </p>

                                <p class="customer_feedback_name white_color open_sans default_small_heading font_600">John Doe - Google CEO</p>

                            </div>

                            <div class="swiper-slide">

                                <p class="customer_feedback_text white_color open_sans default_text font_200">


                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate at justo tristique, tempor sagittis dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sit amet ligula consequat urna posuere
                                    convallis.

                                </p>

                                <p class="customer_feedback_name white_color open_sans default_small_heading font_600">John Doe - Google CEO</p>

                            </div>

                            <div class="swiper-slide">

                                <p class="customer_feedback_text white_color open_sans default_text font_200">


                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate at justo tristique, tempor sagittis dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sit amet ligula consequat urna posuere
                                    convallis.

                                </p>

                                <p class="customer_feedback_name white_color open_sans default_small_heading font_600">John Doe - Google CEO</p>

                            </div>

                        </div>

                        <!-- Add Pagination -->

                        <div class="swiper-pagination"></div>

                        <!-- Add Arrows -->

                        <div class="swiper-button-next fa fa-angle-right hidden-sm hidden-xs"></div>

                        <div class="swiper-button-prev fa fa-angle-left hidden-sm hidden-xs"></div>

                    </div>

                </div>

            </div>

        </section>
        <!-- /Customer Review Slider -->

        <!-- Blog Section -->
        <section class="blog_section big_padding" id="blog">

            <div class="container">

                <p class="default_text raleway text-center default_small_heading blue_color font_200">Read the News</p>

                <h2 class="default_section_heading text-center">

                                <span class="font_200">

                                    Our

                                </span>

                    Latest

                    <span class="font_200">

                                    Blogs

                                </span>

                </h2>

                <hr class="default_divider default_divider_blue default_divider_big">

                <div class="blog_slider_main swiper-container">

                    <div class="swiper-wrapper">

                        <div class="swiper-slide">

                            <div class="blog_slide wow slideInLeft">

                                <a href="blog.html" class="anchor_style_default">

                                    <h3 class="small_heading_navy raleway center_on_mobile font_400">Pellentesque euismod</h3>

                                </a>

                                <p class="default_text default_text_light open_sans center_on_mobile">June 18, 2017</p>

                                <div class="blog_img">

                                    <img src="~/Assets/agency-studio/img/blog_post_1.jpg" alt="blog_img">

                                </div>

                                <p class="default_text open_sans center_on_mobile">

                                    Aenean faucibus nulla ex, in rutrum dui blandit at. Pellentesque bibendum odio vitae gravida consequat aliquam sem morbi dor sit imet sen

                                </p>

                            </div>

                        </div>

                        <div class="swiper-slide">

                            <div class="blog_slide wow fadeInDownBig">

                                <a href="blog.html" class="anchor_style_default">

                                    <h3 class="small_heading_navy raleway center_on_mobile font_400">Proin condimentum</h3>

                                </a>

                                <p class="default_text default_text_light open_sans center_on_mobile">June 18, 2017</p>

                                <div class="blog_img">

                                    <img src="~/Assets/agency-studio/img/blog_post_2.jpg" alt="blog_img">

                                </div>

                                <p class="default_text open_sans center_on_mobile">

                                    Cras eget ligula dolor aenean ac velit ultricies, i pretium tincidunt bibendum turpis maximus posuere get

                                </p>

                            </div>

                        </div>

                        <div class="swiper-slide">

                            <div class="blog_slide wow slideInRight">

                                <a href="blog.html" class="anchor_style_default">

                                    <h3 class="small_heading_navy raleway center_on_mobile font_400">Donec dapibus</h3>

                                </a>

                                <p class="default_text default_text_light open_sans center_on_mobile">June 18, 2017</p>

                                <div class="blog_img">

                                    <img src="~/Assets/agency-studio/img/blog_post_3.jpg" alt="blog_img">

                                </div>

                                <p class="default_text open_sans center_on_mobile">

                                    Cras eget ligula dolor aenean ac velit ultricies, accumsan nisl cursus, aliquam sem morbi pretium tincidunt bibendum turpis maximus posuere get

                                </p>

                            </div>

                        </div>

                    </div>

                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>

                </div>

            </div>

        </section>
        <!-- /Blog Section -->

        <!--Contact Us -->
        <section id="contactus" class="big_padding bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-title wow fadeIn" data-wow-delay="300ms">
                            <h5> Let's get in touch </h5>
                            <h2> Contact Us </h2>
                            <hr class="default_divider default_divider_blue">
                            <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus.                    </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 d-flex flex-column justify-content-start align-item-center contact_address heading_space wow fadeInLeft" data-wow-delay="400ms">
                        <div class="contact-table my-3">
                            <div class="d-table-cell cells">
                                <span class="icon-cell"><i class="fas fa-map-marker-alt"></i></span>
                            </div>
                            <div class="d-table-cell cells">
                                <h4 class="color-black m-0">Visit Us</h4>
                                <p>Tottenham Road, Japan.</p>
                            </div>
                        </div>
                        <div class="contact-table my-3">
                            <div class="d-table-cell cells">
                                <span class="icon-cell"><i class="fas fa-envelope"></i></span>
                            </div>
                            <div class="d-table-cell cells">
                                <h4 class="color-black m-0">Email Us</h4>
                                <p><a href="mailto:web@info.com" class="para-color">web@info.com</a> </p>
                            </div>
                        </div>
                        <div class="contact-table my-3">
                            <div class="d-table-cell cells">
                                <span class="icon-cell"><i class="fas fa-globe-americas"></i></span>
                            </div>
                            <div class="d-table-cell cells">
                                <h4 class="color-black m-0">Our Support</h4>
                                <p><a href="mailto:web@info.com" class="para-color">support@info.com</a> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 heading_space wow fadeInRight" data-wow-delay="450ms">
                        <!-- id contact-form-->
                        <form class="findus contact-form" id="contact-form-data">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div id="result"></div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name"  name="userName" id="name" required>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email" name="userEmail" id="email" required>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="tel" class="form-control" placeholder="Phone" name="userPhone" id="telefon" required>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Subject" name="userSubject" id="subject" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <textarea placeholder="Comment"  name="userMessage" id="message"></textarea>
                                    <button type="button" class="btn btn-blue-black btn-large btn-rounded mb-5 contact_btn" id="btn_submit">Submit Request</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 wow fadeInUp" data-wow-delay="350ms">
                        <div id="map-container">
                            <iframe src="http://maps.google.com/maps?q=51.505029,-0.151498&z=16&output=embed"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Contact Us -->

        